<h1>Trades#index</h1>

<div class="container">
  <div class="table-responsive">
    <table class="table table-striped table-sm table-bordered">
      <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Trade Date</th>
        <th scope="col">Row Id</th>
        <th scope="col">Security Id</th>
        <th scope="col">Security Name</th>
        <th scope="col">Coupon Rate</th>
        <th scope="col">Maturity Date</th>
        <th scope="col">Transaction Type</th>
        <th scope="col">Trade Price</th>
        <th scope="col">Trade Yield</th>
        <th scope="col">Par traded</th>
        <th scope="col">Notional amount</th>
      </tr>
      </thead>
      <tbody>
      <% @trades.each do |trade| %>
          <tr>
            <td scope="row"><%= trade.id %></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <%= paginate @trades %>
  </div>
</div>
